/* import font from google fonts */ 
@import url(https://fonts.googleapis.com/css?family=Open+Sans&display=swap);

/* import variabels */ 
@import url(./partials/_variables.css);

/* import global styling */ 
@import url(./partials/_global.css);

html, body{
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}


/* start navigation area */ 
header,
section {
    overflow-x: hidden;
}

header a {
    font-family: var(--font);
    font-size: 0.9em;
    color: var(--light-black);
}

header .nav-item:last-child {
    padding-right: 10.5em;
}

header .nav-item {
    padding: 0.9em;
}

header .navbar-brand {
    padding-left: 8rem;
}

header .nav-link:hover {
    color: black;
}

header .row .col-md-7 {
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
}

header .row .col-md-5 {
    padding: 4.2vmin 1vmin;
}

header .row .col-md-5 img {
    width: 90%;
}
/* end navigation area*/



/* start top area */
header {
    background-image: url(../img/bg-header.jpg);
    background-size: 2000px;
    background-position: center;
}

header .container .row{
    height: 40rem;
}

header .container{
    max-width: 100rem;
}

header .container .top-text{
    padding-left: 3%;
    padding-top: 13%;
}

header .container .top-text h3{
    font: normal  3rem var(--font);
    font-size: 3rem;
    font-weight: 400;
}

header .container .top-text h1{
    font: normal 5rem var(--font);
    font-size: 5rem;
    margin-left: -1rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

header .container .top-text h4{
    font: normal 1.5rem var(--font);
    font-size: 1.5rem;
    margin-left: 2rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

header .container .site-icons{
    /* font: normal 1rem var(--font); */
    font-size: 2.5rem;
    margin-left: 4.5rem;
    letter-spacing: 0.3rem;
}

header .container .site-icons a{
  color: #212529;
}

header .container .site-icons a:hover{
  color: var(--primary-color);
}



header .container .top-portrait > img{
    width: 85%;
    height: auto;

    position: absolute;
    bottom: 0;
    right: 0rem;
}
/* end top area */ 




/* start about area */ 
.site-main .about-area .container-fluid .row{
    padding: 8% 8%;
}

.site-main .about-area .about-title{
    padding-right: 0rem;
    padding-left: 15%;
}

.site-main .about-area .about-title > button{
    margin-left: 3rem;
}

.site-main .about-area .about-title h2 > span{
    display: block;
    font: normal bold 49px/ 60px var(--font);
    font-size: 49px/ 60px;
    letter-spacing: 8px;
}

.site-main .about-area .about-title .paragraph > p{
    padding: .4rem 0;
}

/* end about area */ 



/* start games area */ 
.site-main .games-area {
    background: black;
    /* fallback for old browsers */
    background-image: url(../img/bg-games.jpg);

    background-size: 4000px;
    background-position: center;
    color: whitesmoke;
    padding-bottom: 7rem;
}

.site-main .games-area .games-title h1{
    padding: 4rem;
    font: normal 6rem times;
    font-size: 6rem;
    letter-spacing: 10px;

    background: linear-gradient(to bottom, #cfc09f 22%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#3a2c0f 78%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: goldenrod;
	  text-transform: uppercase;	
	  font-size: 120px;
    margin: 0;
    font-weight: 400;
}

.site-main .games-area .row .img{
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
    text-align: center;
}
/* end games area */ 





/* start projects area */ 
.site-main .projects-area {

}

.site-main .projects-area .projects-title h2{
    font: normal bold 30px/ 60px var(--font);
    font-size: 30px/ 60px;
    padding: 4rem;
    letter-spacing: 5px;
    margin: 0;
    font-weight: 600;
}

/* end projects area */ 




/* start footer area */ 
footer {
  background: rgba(0, 0, 0, 0.815);
  overflow-x: hidden;
  padding: 3vmin 18vmin;
}

footer .container .col-md-6{
    padding-left: 10rem;
} 

footer p > span {
  color: white;
}

footer input {
  border: none !important;
}

footer input::placeholder {
  color: white !important;
}

footer .input-group .input-group-text {
  background: var(--bggradient);
  border: none;
}

footer .column i {
  color: white;
}

/* it is adjacent sibling combinator */

footer .column i + i {
  padding: 0 0.5em;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.815);
  z-index: 9999;
  transition: all 1.5s ease;
}
/* end footer area */ 